@model ApplicationCore.Models.MovieDetailsResponseModel

@{
    ViewData["Title"] = "Movie Details Page";
}

<div class="container">
    <div class="row" style="background-image: url(@Model.BackdropUrl); border-color:black">
        <div class="col">
            @*1 of 3*@
            <img src="@Model.PosterUrl" width="300"/>
        </div>
        <div class="col-6">
            @*2 of 3*@
            <h1 style="color:white">@Model.Title</h1>
            <div style="font-size:smaller; color:lightgray">@Model.Tagline</div>
            <br />
            <div style="font-size:medium; color:lightgray">
                @Model.RunTime m | @Model.ReleaseDate
                @foreach (var genre in Model.Genres)
                {
                    <span class="badge badge-pill badge-dark">@genre.Name</span>
                }
            </div>
            <br />
            <div>
                <span class="badge badge-success" style="font-size:medium;">@Model.Rating</span>
            </div>
            <br />
            <div style="font-size:medium; color:white">
                @Model.Overview
            </div>
            <br />
        </div>
        <div class="col">
            @*3 of 3*@
            <br />
            <br />
            <ul class="list-group-buttons">
                <li class="list-group-items">
                    <button type="button" class="btn btn-outline-light btn-lg btn-block">REVIEW</button>
                    <button type="button" class="btn btn-light btn-lg btn-block">BUY $@Model.Price</button>
                    @*<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">REVIEW</a>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">BUY $@Model.Price</a>*@
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @*1 of 2*@
            <h3>MOVIE FACTS</h3>
            <ul class="list-group-trailers">
                <li>
                    <i>Release Date</i> <span class="badge badge-pill badge-dark">@Model.ReleaseDate</span>
                </li>
                <li>
                    Run Time <span class="badge badge-pill badge-dark">@Model.RunTime m</span>
                </li>
                <li>
                    Box Office <span class="badge badge-pill badge-dark">$@Model.Revenue</span>
                </li>
                <li>
                    Budget <span class="badge badge-pill badge-dark">$@Model.Budget</span>
                </li>
            </ul>
            <h3>TRAILERS</h3>
            <ul class="list-group-trailers">
                @foreach (var trailer in Model.Trailers)
                {
                    <li class="list-group-trailers-items">
                        <a href="@trailer.TrailerUrl">@trailer.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col">
            @*2 of 2*@
            <h3>CAST</h3>
            <ul class="list-group-casts">
                @foreach (var cast in Model.Casts)
                {
                <li class="list-group-item">
                    <img src="@cast.ProfilePath" width="50" />
                    @cast.Name
                </li>
                }
            </ul>
        </div>
    </div>
</div>